Q8

Let's learn about list comprehensions! You are given three integers x, y and z representing the dimensions of a cuboid along with an integer n. Print a list of all possible coordinates given by (i, j, k) on a 3D grid where the sum of i + j + k is not equal to n. Here, 0 < i< x; 0 < j <y; 0 < k <  z. Please use list comprehensions 
rather than multiple loops, as a learning exercise. 
Example 
All permutations of [i, j, k] are: 
[[0, 0,0], [0, 0, 1], [0, 0, 2], [0, 1, 0], [0, 1, 1], [0, 1, 2], [1, 0, 0], [1, 0, 1], [1, 0, 2], [1, 1, 0], [1, 1, 1], [1, 1, 2]]. 
Print an array of the elements that do not sum to n = 3. 
[[0,0, 0], [0, 0, 1], [0, 0, 2], [0, 1, 0], [0, 1, 1], [1, 0, 0], [1, 0, 1], [1, 1, 0], [1, 1, 2]] 
Input Format 
Four integers y, z and n, each on a separate line. 
Constraints 
Print the list in lexicographic increasing order. 

Sample Input 0

1
1
1
2

Sample Output 0

[[0, 0,0], [0, 0, 1], [0, 1, 0], [1, 0, 0], [1, 1, 1]]

In [1]:
x = int(input())
y = int(input())
z = int(input())
n = int(input())
coords = [[i,j,k] for i in range(x+1) for j in range(y+1) for k in range(z+1) if i + j + k != n]
print(coords)

1
1
1
2
[[0, 0, 0], [0, 0, 1], [0, 1, 0], [1, 0, 0], [1, 1, 1]]

Q9

Given the participants' score sheet for your University Sports Day, you are required to find the runner-up score. You are given n scores. Store them in a list and find the score of the runner-up. 
Input Format 
The first line contains n. The second line contains an array of n integers each separated by a space. 

Constraints 
2 < n < 10 
-100 < A[i] < 100 

Output Format
Print the runner-up score. 

Sample Input 0
5 
2 3 6 6 5 
Sample Output 0
5

In [9]:
n = int(input())
arr = map(int, input().split())
arr = list(arr)
max_score = runner_up_score  = -999999
for score in arr:
    if score > max_score:
        runner_up_score = max_score
        max_score = score
    elif score > runner_up_score and score != max_score:
        runner_up_score = score
print(runner_up_score)

3
4 6 7
6

Q10

Given the names and grades for each student in a class of N students, store them in a nested list and print the name(s) of any student(s) having the second lowest grade. 
Note: If there are multiple students with the second lowest grade, order their names alphabetically and print 
each name on a new line. 
Example 
records = [["chi" , 20.01, ["beta" , 50.0], ["alpha" , 50.0]] 
The ordered list of scores is [20.0, 50.0], so the second lowest score is 50.0. There are two students with that 
score: ["beta" , "alpha"]. Ordered alphabetically, the names are printed as: 
alpha 
beta 

Input Format 

The first line contains an integer, N, the number of students. 
The 2N subsequent lines describe each student over 2 lines. 
- The first line contains a student's name. 
- The second line contains their grade. 
Constraints 
• There will always be one or more students having the second lowest grade. 
Output Format 
Print the name(s) of any student(s) having the second lowest grade in. If there are multiple students, order their names alphabetically and print each one on a new line.

In [16]:
students = []
for _ in range(int(input("Enter number of students: "))):
    name = input("Enter student name: ")
    score = float(input("Enter student score:"))
    students.append([name, score])

# Find the lowest score
lowest_score = min(s[1] for s in students)

# Find the second lowest score
second_lowest_score = None
for s in students:
    if s[1] != lowest_score:
        if second_lowest_score is None or s[1] < second_lowest_score:
            second_lowest_score = s[1]

# Collect the names of students with the second lowest score
second_lowest_students = []
for s in students:
    if s[1] == second_lowest_score:
        second_lowest_students.append(s[0])

# Sort the list of second lowest students alphabetically
second_lowest_students.sort()

# Print the names of second lowest students
for name in second_lowest_students:
    print(name)

Enter number of students: 4
Enter student name: sam
Enter student score:77
Enter student name: john
Enter student score:60
Enter student name: jake
Enter student score:60
Enter student name: robert
Enter student score:90
sam

Q11

The provided code stub will read in a dictionary containing key/value pairs of name:[marks] for a list of students. 
Print the average of the marks array for the student name provided, showing 2 places after the decimal. 
Example 
marks key: value pairs are 
'alpha': [20, 30, 40] 
'beta': 130, 50, 70] 
query_name = 'beta' 
The query_name is 'beta'. beta's average score is (30 + 50 + 70)/3 = 50.0. 

Input Format 

The first line contains the integer n, the number of students' records. The next n lines contain the names and marks obtained by a student, each value separated by a space. The final line contains query_name, the name of a student to query. 

Constraints 
• 2<n<10
• 0<marks[i]<100
• length of marks arrays = 3

Output Format 

Print one line: The average of the marks obtained by the particular student correct to 2 decimal places.
 
Sample Input 

3 

Krishna 67 68 69

Arjun 70 98 63 

Malika 52 56 60

Malika 

Sample Output

56.00

In [19]:
n = int(input())
student_marks = {}
for _ in range(n):
    name, *line = input().split()
    scores = list(map(float, line))
    student_marks[name] = scores
query_name = input()
    
if query_name in student_marks:
    avg_marks = sum(student_marks[query_name]) / len(student_marks[query_name])
    print("{:.2f}".format(avg_marks))
else:
    print("Student not found")

3
sam 68 66 69
ram 55 87 67
vivek 79 87 72
vivek
 79.33

Q12

Consider a list (list = []). You can perform the following commands: 
1. insert i e: Insert integer e at position i. 
2. print: Print the list. 
3. remove e: Delete the first occurrence of integer e. 
4. append e: Insert integer e at the end of the list. 
5. sort: Sort the list. 
6. pop: Pop the last element from the list 
7. reverse: Reverse the list. 

Initialize your list and read in the value of n followed by n lines of commands where each command will be of the 7 types listed above. Iterate through each command in order and perform the corresponding operation on your list. 

Example 

N = 4

append 1 

append 2 

insert 3 1 

print 

• append 1: Append 1 to the list, arr = [1]
 
• append 2: Append 2 to the list, arr = [1,2]

• insert 3 1: Insert 3 at index 1, arr = [1,2,3]

• print: Print the array. 

Output: 

Input Format 

The first line contains an integer, n, denoting the number of commands. 

Each line i of the n subsequent lines contains one of the commands described above. 

Constraints 

• The elements added to the list must be integers. 

Output Format 

For each command of type print, print the list on a new line. 

Sample Input 

5, 
5, 
5, 
insert 
insert 
insert 
print 
remove 
append 
append 
sort 
print 
pop 
1 10 
6 
9 
1 
reverse 
print 
Sample Output

[6, 5, 10]

[1, 5, 9, 10]

[9, 5, 1]

In [24]:
N = int(input())
my_list = []

for i in range(N):
    command = input().split()
    if command[0] == 'insert':
        my_list.insert(int(command[1]), int(command[2]))
    elif command[0] == 'print':
        print(my_list)
    elif command[0] == 'remove':
        my_list.remove(int(command[1]))
    elif command[0] == 'append':
        my_list.append(int(command[1]))
    elif command[0] == 'sort':
        my_list.sort()
    elif command[0] == 'pop':
        my_list.pop()
    elif command[0] == 'reverse':
        my_list.reverse()

9
insert 0 5
insert 1 10
insert 2 4
remove 10
append 9
sort
pop
reverse
print
[5, 4]

Q13

Given an integer, n, and n space-separated integers as input, create a tuple, t, of those n integers. Then compute and print the result of hash(t). 

Note: hash() is one of the functions in the __builtins__ module, so it need not be imported. 

Input Format 

The first line contains an integer, n, denoting the number of elements in the tuple. 

The second line contains n space-separated integers describing the elements in tuple t. 

Output Format 

Print the result of hash(t). 

Sample Input 

2

1 2

Sample Output 

3713081631934410656

In [36]:
# Note: There is some issue in hacker rank so run the code in pypy
n = int(input())
t = tuple(map(int, input().split()))
print(hash(t))

2
1 2
-3550055125485641917

Q14

Ms. Gabriel Williams is a botany professor at District College. One day, she asked her student Mickey to compute the average of all the plants with distinct heights in her greenhouse.
 
Formula used: 

 Average = Sum of Distinct Heights / Total Number of Distinct Heights 

Function Description 

Complete the average function in the editor below. 


average has the following parameters: 
• int arr: an array of integers 

Returns 

• float: the resulting float value rounded to 3 places after the decimal 

Input Format 

The first line contains the integer, N, the size of arr. 

The second line contains the N space-separated integers, arr[i]. 

Constraints 
0 < N < 100 

Sample Input 

STDIN 

10 

161 182 161 154 176 170 167 171 170 174 

Function 

arr[] size N = 10 

arr = [161, 181, 174] 

Sample Output 

169.375 

Explanation 

Here. set([154, 161, 167, 170, 171, 174, 176, 182]) is the set containing the distinct heights. Using the sum{} and len() functions, we can compute the average.

In [41]:
def average(array):
    distinct_heights = set(array)
    avg = sum(distinct_heights) / len(distinct_heights)
    return "{: .3f}".format(avg)


if __name__ == '__main__':
    n = int(input())
    arr = list(map(int, input().split()))
    result = average(arr)
    print(result)

10
161 182 161 154 176 170 167 171 170 174
 169.375

Q15

There is an array of n integers. There are also 2 disjoint sets, A and B, each containing m integers. You like all the integers in set A and dislike all the integers in set B. Your initial happiness is 0. For each i integer in the array, if i e A. you add 1 to your happiness. Ifi e B, you add —1 to your happiness. Otherwise, your happiness does not change. Output your final happiness at the end. 

Note: Since A and B are sets, they have no repeated elements. However, the array might contain duplicate elements. 

Constraints 

1 < n < 10 raise to 5
1<m<10 raise to 5
1< Any integer in the input <10 raise to 9 

Input Format 

The first line contains integers n and m separated by a space.
 
The second line contains n integers, the elements of the array.
 
The third and fourth lines contain m integers, A and B, respectively. 

Output Format 

Output a single integer, your total happiness. 

Sample Input 

3 2

1 5 3

3 1

5 7 
 
Sample Output 

1 

Explanation 

You gain 1 unit of happiness for elements 3 and 1 in set A. You lose 1 unit for 5 in set B. The element 7 in set B does not exist in the array so it is not included in the calculation. 
Hence, the total happiness is 2 — 1 = 1 .

In [42]:
n, m = map(int, input().split())
arr = list(map(int, input().split()))
A = set(map(int, input().split()))
B = set(map(int, input().split()))

happiness = 0

for num in arr:
    if num in A:
        happiness += 1
    elif num in B:
        happiness -= 1

print(happiness)

3 2
1 5 3
3 1
5 7
1

Q16

Given 2 sets of integers, M and N, print their symmetric difference in ascending order. The term symmetric difference indicates those values that exist in either M or N but do not exist in both. 

Input Format 

The first line of input contains an integer, M. 

The second line contains M space-separated integers. 

The third line contains an integer, N. 

The fourth line contains N space-separated integers. 

Output Format 

Output the symmetric difference integers in ascending order, one per line. 

Sample Input 

STDIN 
4

2 4 5 9

4
 
2 4 11 12 

Function 

set a size M = 4

a = {2, 4, 5, 9}

set b size N = 4

b = {2, 4, 11, 12}

Sample Output 

5 

9

11

12

In [44]:
M = int(input())
set_M = set(map(int, input().split()))

N = int(input())
set_N = set(map(int, input().split()))

result_set = set()
for num in set_M:
    if num not in set_N:
        result_set.add(num)
for num in set_N:
    if num not in set_M:
        result_set.add(num)
for i in sorted(result_set):
    print(i)

4
2 4 5 9
4
2 4 11 12
5
9
11
12

Q17

Rupal has a huge collection of country stamps. She decided to count the total number of distinct country stamps in her collection. She asked for your help. You pick the stamps one by one from a stack of N country stamps.
 
Find the total number of distinct country stamps. 

Input Format 

The first line contains an integer N, the total number of country stamps.
 
The next N lines contains the name of the country where the stamp is from. 

Constraints 

0 < N < 1000 

Output Format 

Output the total number of distinct country stamps on a single line. 

Sample Input 

7

UK 

China 

USA 

France 

New Zealand 

UK 

France 

Sample Output 

5 

Explanation 

UK and France repeat twice. Hence, the total number of distinct country stamps is 5 (five).

In [46]:
n = int(input())

unique_countries = set()

for i in range(n):
    country = input().strip()
    unique_countries.add(country)
    
print(len(unique_countries))

5
UK
UK
France
Germany
England
4

Q18

You have a non-empty set s, and you have to execute N commands given in N lines. 
The commands will be pop, remove and discard. 

Input Format 

The first line contains integer n, the number of elements in the set s. 

The second line contains n space separated elements of set s. All of the elements are non-negative integers, less than or equal to 9. 

The third line contains integer N, the number of commands. 

The next N lines contains either pop, remove and/or discard commands followed by their associated value. 

Constraints 

0 < n < 20
 
0 < N < 20 

Output Format 

Print the sum of the elements of set s on a single line. 

Sample Input 

9 

1 2 3 4 5 6 7 8 9 

pop 

remove 9 

discard 9 

discard 8 

remove 7
 
pop
 
discard 6
 
remove 5 

pop
 
discard 5 


Sample Output 

4 

Explanation 

After completing these 10 operations on the set, we get set([4]). Hence, the sum is 4. 

Note: Convert the elements of set s to integers while you are assigning them. To ensure the proper input of the set. we have added the first two lines of code to the editor.

In [49]:
n = int(input())
s = set(map(int, input().split()))
N = int(input())

for i in range(N):
    operation = input().split()
    if operation[0] == "pop":
        s.pop()
    elif operation[0] == "remove":
        s.remove(int(operation[1]))
    elif operation[0] == "discard":
        s.discard(int(operation[1]))

print(sum(s))

9
1 2 3 4 5 6 7 8 9
10
pop
remove 9
discard 9
discard 8
remove 7
pop
discard 6
remove 5
pop
discard 5
4

Q19

The students of District College have subscriptions to English and French newspapers. Some students have subscribed only to English, some have subscribed only to French, and some have subscribed to both newspapers. 

You are given two sets of student roll numbers. One set has subscribed to the English newspaper, one set has subscribed to the French newspaper. Your task is to find the total number of students who have subscribed to both newspapers. 

Input Format 

The first line contains n, the number of students who have subscribed to the English newspaper. 

The second line contains n space separated roll numbers of those students. 

The third line contains b, the number of students who have subscribed to the French newspaper. 

The fourth line contains b space separated roll numbers of those students. 

Constraints 

0 < Total number of students in college < 1000 

Output Format 

Output the total number of students who have subscriptions to both English and French newspapers. 

Sample Input 

9 

1 2 3 4 5 6 7 8 9 

9 

10 1 2 3 11 21 55 6 8 

Sample Output 

5 

Explanation 

The roll numbers of students who have both subscriptions: 

1, 2, 3, 6 and 8. 

Hence, the total is 5 students.

In [51]:
n = int(input())
english = set(map(int, input().split()))

b = int(input())
french = set(map(int, input().split()))

both = english.intersection(french)
print(len(both))

9
1 2 3 4 5 6 7 8 9
9
10 1 2 3 11 21 55 6 8
5

Q20

Students of District College have a subscription to English and French newspapers. Some students have 
subscribed to only the English newspaper, some have subscribed to only the French newspaper, and some have subscribed to both newspapers. 

You are given two sets of student roll numbers. One set has subscribed to the English newspaper, and one set has subscribed to the French newspaper. Your task is to find the total number of students who have subscribed to only English newspapers. 

Input Format 

The first line contains the number of students who have subscribed to the English newspaper. 

The second line contains the space separated list of student roll numbers who have subscribed to the English newspaper.
 
The third line contains the number of students who have subscribed to the French newspaper. 

The fourth line contains the space separated list of student roll numbers who have subscribed to the French newspaper.
 

Constraints 

0 < Total number of students in college < 1000 

Output Format 

Output the total number of students who are subscribed to the English newspaper only. 

Sample Input 

9 

1 2 3 4 5 6 7 8 9 

9 

10 1 2 3 11 21 55 6 8
 
Sample Output 

4

Explanation 


The roll numbers of students who only have English newspaper subscriptions are: 

4, 5, 7 and 9. 

Hence, total is 4 students.

In [52]:
n = int(input())
english = set(map(int, input().split()))
b = int(input())
french = set(map(int, input().split()))

both = english.intersection(french)

english_only = english.difference(both)

print(len(english_only))

9
1 2 3 4 5 6 7 8 9
9
10 1 2 3 11 21 55 6 8
4

Q21

Students of District College have subscriptions to English and French newspapers. Some students have 
subscribed to English only, some have subscribed to French only, and some have subscribed to both 
newspapers. 

You are given two sets of student roll numbers. One set has subscribed to the English newspaper, and one set has subscribed to the French newspaper. Your task is to find the total number of students who have subscribed to either the English or the French newspaper but not both. 

Input Format 

The first line contains the number of students who have subscribed to the English newspaper. 

The second line contains the space separated list of student roll numbers who have subscribed to the English newspaper. 

The third line contains the number of students who have subscribed to the French newspaper. 

The fourth line contains the space separated list of student roll numbers who have subscribed to the French newspaper. 

Constraints 

0 < Total number of students in college < 1000 

Output Format 

Output total number of students who have subscriptions to the English or the French newspaper but not both. 

Sample Input 

9 

1 2 3 4 5 6 7 8 9 
9 

10 1 2 3 11 21 55 6 8
 
Sample Output 

8 

Explanation 

The roll numbers of students who have subscriptions to English or French newspapers but not both are: 

4, 5, 7, 9, 10, 11, 21 and 55. 

Hence, the total is 8 students.

In [53]:
n = int(input())
english_set = set(map(int, input().split()))

b = int(input())
french_set = set(map(int, input().split()))

result_set = english_set ^ french_set
print(len(result_set))

9
1 2 3 4 5 6 7 8 9
9
10 1 2 3 11 21 55 6 8
8

Q22

You are given a set A and N number of other sets. These N number of sets have to perform some specific 
mutation operations on set A. 

Your task is to execute those operations and print the sum of elements from set A. 

Input Format 

The first line contains the number of elements in set A. 

The second line contains the space separated list of elements in set A. 

The third line contains integer N, the number of other sets. 

The next 2 * N lines are divided into N parts containing two lines each. 

The first line of each part contains the space separated entries of the operation name and the length of the other set. 
The second line of each part contains space separated list of elements in the other set. 

0 < len(set(A)) < 1000 

0 < len(otherSets) < 100 

0 < N < 100 

Output Format 

Output the sum of elements in set A. 

Sample Input 

16 

1 2 3 4 5 6 7 8 9 10 11 12 13 14 24 52 

4

intersection_update 10 

2 3 5 6 8 9 1 4 7 11
 
update 2 

55 66
 
22 7 35 62 58 

difference_update 7 

11 22 35 55 58 62 66 

Sample Output 

38 

Explanation 

After the first operation, (intersection_update operation), we get: 

set A = set([1,2, 3, 4, 5, 6, 7, 8, 9, 11]) 


After the second operation, (update operation), we get: 

set A = set([1,2, 3, 4, 5, 6, 7, 8, 9, 11, 55, 66]) 

After the third operation, (symmetric_difference_update operation), we get: 

set A = set([1,2, 3, 4, 5, 6, 8, 9, 11, 22, 35, 55, 58, 62, 66])
 
After the fourth operation, ( difference_update operation), we get: 

set A = set([1, 2, 3, 4, 5, 6, 8, 9]) 

The sum of elements in set A after these operations is 38.

In [55]:
n = int(input())
set_a = set(map(int, input().split()))
n_operations = int(input())

for i in range(n_operations):
    operation, n_set = input().split()
    n_set = int(n_set)
    other_set = set(map(int, input().split()))
    if operation == "intersection_update":
        set_a.intersection_update(other_set)
    elif operation == "update":
        set_a.update(other_set)
    elif operation == "symmetric_difference_update":
        set_a.symmetric_difference_update(other_set)
    elif operation == "difference_update":
        set_a.difference_update(other_set)

print(sum(set_a))

16
1 2 3 4 5 6 7 8 9 10 11 12 13 14 24 52
4
intersection_update 10
2 3 5 6 8 9 1 4 7 11
update 2
55 66
symmetric_difference_update 5
22 7 35 62 58
difference_update 7
11 22 35 55 58 62 66
38

Q23

Mr. Anant Asankhya is the manager at the INFINITE hotel. The hotel has an infinite amount of rooms. 

One fine day, a finite number oftourists come to stay at the hotel. 

The tourists consist of: 

A Captain. 

An unknown group offamilies consisting of K members per group where K * 1. 

The Captain was given a separate room, and the rest were given one room per group. 

Mr. Anant has an unordered list of randomly arranged room entries. The list consists of the room numbers for all of the tourists. The room numbers will appear K times per group except for the Captain's room. 

Mr. Anant needs you to help him find the Captain's room number. 

The total number of tourists or the total number of groups of families is not known to you. 

You only know the value of K and the room number list. 

Input Format 

The first line consists of an integer, K, the size of each group. 

The second line contains the unordered elements of the room number list. 

Constraints 

1 < K < 1000 

Output Format 

Output the Captain's room number. 

Sample Input 

5 

1 2 3 6 5 4 4 2 5 3 6 1 6 5 3 2 4 1 2 5 1 4 3 6 8 4 3 1 5 6 2  

Sample Output 

8 

Explanation 

The list of room numbers contains 31 elements. Since K is 5, there must be 6 groups of families. In the given list, all of the numbers repeat 5 times except for room number 8. 

Hence, 8 is the Captain's room number.

In [56]:
k = int(input())
room_numbers = input().split()

counts = {}
for room in room_numbers:
    if room in counts:
        counts[room] += 1
    else:
        counts[room] = 1

for room, count in counts.items():
    if count == 1:
        print(room)
        break

5
1 2 3 6 5 4 4 2 5 3 6 1 6 5 3 2 4 1 2 5 1 4 3 6 8 4 3 1 5 6 2
8

Q24

You are given two sets, A and B. 

Your job is to find whether set A is a subset of set B. 

If set A is subset of set B, print True. 

If set A is not a subset of set B, print False. 

Input Format 

The first line will contain the number of test cases, T. 

The first line of each test case contains the number of elements in set A. 

The second line of each test case contains the space separated elements of set A. 

The third line of each test case contains the number of elements in set B. 

The fourth line of each test case contains the space separated elements of set B. 

Constraints 

• 0<T < 21 

• 0 < Number of elements in each set < 1001 

Output Format 

Output True or False for each test case on separate lines. 

Sample Input 

3 

5 

1 2 3 5 6
 
9 

9 8 5 6 3 2 1 4 7
 
1

2

5 

3 6 5 4 1

7
 
1 2 3 5 6 8 9
 
3
 
9 8 2 


Sample Output 

True 

False 

False 

Explanation 

Test Case 01 Explanation 

set A = {1 2 3 5 6} 

set B = {9 8 5 6 3 2 1 4 7}

All the elements of set A are elements of set B. 

Hence, set A is a subset of set B.

In [57]:
t = int(input())

for i in range(t):
    n = int(input())
    set_a = set(map(int, input().split()))
    m = int(input())
    set_b = set(map(int, input().split()))

    if set_a.issubset(set_b):
        print(True)
    else:
        print(False)

3
5
1 2 3 5 6
9
9 8 5 6 3 2 1 4 7
True
1
2
5
3 6 5 4 1
False
7
1 2 3 5 6 8 9
3
9 8 2
False

Q25

You are given a set A and n other sets. 

Your job is to find whether set A is a strict superset of each of the N sets. 

Print True, if A is a strict superset of each of the N sets. Otherwise, print False. 

A strict superset has at least one element that does not exist in its subset. 

Example 

Set([1, 3, 4]) is a strict superset of 3]). 

Set([1, 3, 4]) is not a strict superset of set([1, 3, 4]). 

Set([1, 3, 4]) is not a strict superset of set([1, 3, 5]). 

Input Format 

The first line contains the space separated elements of set A. 

The second line contains integer n, the number of other sets. 

The next n lines contains the space separated elements of the other sets. 

Constraints 

• 0 < len(set(A)) < 501 

• 0 < len(otherSets) < 101 

Output Format 

Print True if set A is a strict superset of all other N sets. Otherwise, print False. 

Sample Input 
 
1 2 3 4 5 6 7 8 9 l0 11 12 23 45 84 78 

2

1 2 3 4 5

100 11 12 


Sample Output

FaIse 

Explanation 

Set A is the strict superset of the set([1, 2, 3, 4, 5]) but not of the set([100, 11, 12]) because 100 is not in set A 

Hence, the output is False.

In [58]:
A = set(input().split())
n = int(input())
strict_superset = True

for i in range(n):
    other_set = set(input().split())
    if not A.issuperset(other_set) or A.issubset(other_set):
        strict_superset = False
        break

print(strict_superset)

1 2 3 4 5 6 7 8 9 l0 11 12 23 45 84 78
2
1 2 3 4 5
100 11 12
False